@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Outfit';
}

nav a{
  color: black !important;
  display: none;
}

nav button{
  background-color: #EF6820 !important;
}

.header{
  background-image: url('./assets/img/Map.png');
  height:600px;
}

.navInput i {
  position: absolute;
}

.navInput{
  margin-bottom: 10px;
}

.icon{
padding: 10px;
}

.navInput input{   
            text-align: center;
            /* width: 320px; */
}

.overview {
  background-color: #FDEAD7;
}

.overview p{
  font-size: 24px;
  color: #EF6820;
}

.overview h2{
  font-family: 'Outfit';
font-style: normal;
font-weight: 700;
/* font-size: 48px; */
/* line-height: 60px;  */
 letter-spacing: -0.01em;
}

.advantage h4 {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  
  color: #B93815;
}

.advantage h1{
  font-family: 'Outfit';
font-style: normal;
font-weight: 700;
/* font-size: 48px; */
/* line-height: 60px; */
text-align: center;
letter-spacing: -0.01em;

/* Grey/800 */

color: #2B2A30;
}

.advantage p{
  font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 157.5%;
/* or 38px */

text-align: center;
letter-spacing: -0.01em;

/* Grey/700 */

color: #565560;

}


.customCard {
  background-color: #F3F3F4;
  /* height: 100%;   */
  width: 429px;
  border-radius: 8px;
  
}

.customCard h3{
  font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 106%;
/* or 32px */

text-align: center;

/* Grey/800 */

color: #2B2A30;
}

.customCard p{
  font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 106%;
/* or 21px */

text-align: center;

/* Grey/700 */

color: #565560;
}

.products{
  background-color: #2B2A30;
  overflow-x: hidden;
}

.products button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 32px;
gap: 8px;
/* Primary/500 */

background: #EF6820;
border-radius: 4px;
}

.products button:hover{
  background: #EF6820 ;
}

.products h3{
  font-weight: 700;
font-size: 26px;
line-height: 106%;
text-align: center;
color: #FBFBFC;
}

.products p{
  font-weight: 400;
font-size: 16px;
/* line-height: 106%; */
color: #D0D0D5;
}

.HowItWorks h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #EF6820;
}

.HowItWorks h2{
  font-weight: 700;
font-size: 48px;
line-height: 90.5%;
letter-spacing: -0.01em;

color: #2B2A30;
}

.HowItWorks h4{
  font-weight: 700;
font-size: 30px;
line-height: 106%;
color: #FBFBFC;

}

.HowItWorks p{
  font-weight: 400;
font-size: 20px;
line-height: 106%;
color: #D0D0D5;
}

.worksCard{
  height: 620px;
  background-image: url('./assets/img/work1.png');
  background-position: center center;
  background-size: cover;
}

.worksCard1{
  height: 620px;
  background-image: url('./assets/img/work2.png');
  background-position: center center;
  background-size: cover;
}

.worksCard2{
  height: 620px;
  background-image: url('./assets/img/work3.png');
  background-position: center center;
  background-size: cover;
}

.industries{
  background-color: #2B2A30;
  overflow-x: hidden;
}

.industryCard{
  width: 371px;
/* height: 226px; */

/* Grey/700 */

border: 1px solid #565560;
border-radius: 8px;
}

.industries h3{
  font-size: 24px;
line-height: 30px;
letter-spacing: -0.01em;
color: #EF6820;

}

.industries h2{
  font-weight: 700;
font-size: 42px;
line-height: 98.5%;
letter-spacing: -0.01em;

/* Grey/50 */

color: #FBFBFC;

}

.industries h4{
  font-weight: 700;
font-size: 30px;
line-height: 106%;


color: #FBFBFC;
}

.industries p {
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 106%;
color: #DCDBE0;

}

.form input{
  /* width: 380px; */
  height: 44px;
  background: #E8E7EA !important;
border-radius: 8px;

}

form button{
  width: 100%;  
height: 64px;
color: #FBFBFC !important;
background-color:  #EF6820 !important;
border-radius: 4px;

}

.form h4 {
  font-weight: 400;
font-size: 24px;
line-height: 30px;
letter-spacing: -0.01em;
color: #EF6820;
}

.form h3{
  font-weight: 700;
font-size: 42px;
line-height: 98.5%;
letter-spacing: -0.01em;
color: #2B2A30;
}

.form p{color: #565560}

.companyP{
  font-weight: 400;
font-size: 20px;
line-height: 25px;
}

.footer{
  background-color: #B93815;
  height: 100%;
}

.line{
  border: 1px solid #FFF6F6;
  
}

.footer p{
  font-weight: 400;
font-size: 14.5px;
line-height: 28px;
}

.footer h2{
  font-weight: 600;
font-size: 18px;
line-height: 24px;
}














/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
